.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/.idea/misc.xml
sandbox/.idea/workspace.xml
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/MyFirstProgram.class
*.class
addressbook-web-tests/.idea/libraries/Gradle__com_beust_jcommander_1_72.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_2_0.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_guava_guava_27_1_jre.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
addressbook-web-tests/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1.xml
addressbook-web-tests/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_14_0.xml
addressbook-web-tests/.idea/libraries/Gradle__com_squareup_okio_okio_1_17_2.xml
addressbook-web-tests/.idea/libraries/Gradle__io_opentracing_contrib_opentracing_tracerresolver_0_1_7.xml
addressbook-web-tests/.idea/libraries/Gradle__io_opentracing_opentracing_api_0_33_0.xml
addressbook-web-tests/.idea/libraries/Gradle__io_opentracing_opentracing_noop_0_33_0.xml
addressbook-web-tests/.idea/libraries/Gradle__io_opentracing_opentracing_util_0_33_0.xml
addressbook-web-tests/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_9_12.xml
addressbook-web-tests/.idea/libraries/Gradle__org_apache_commons_commons_exec_1_3.xml
addressbook-web-tests/.idea/libraries/Gradle__org_checkerframework_checker_qual_2_5_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chromium_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edgehtml_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_xpi_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_java_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_opera_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_remote_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_safari_driver_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_support_4_0_0_alpha_2.xml
addressbook-web-tests/.idea/libraries/Gradle__org_testng_testng_7_0_0_beta7.xml
